.about-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 40px;
  background: #d9d9d9; 
  /* #ffffff */
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about-container h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1b5e20;
  margin-bottom: 15px;
}

.about-container h1 span {
  color: #43a047;
}

.about-container p {
  line-height: 1.8;
  font-size: 18px;
  margin-top: 10px;
  color: #444;
}

.about-container h2 {
  margin-top: 25px;
  font-size: 24px;
  color: #2e7d32;
  border-left: 5px solid #66bb6a;
  padding-left: 10px;
}

.about-list {
  margin: 15px 0 0 25px;
}

.about-list li {
  margin-bottom: 8px;
  font-size: 17px;
  color: #333;
  padding-left: 8px;
}

.highlight {
  background: #e8f5e9;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: bold;
}

.closing-text {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
  color: #1b5e20;
  font-weight: bold;
}

/* Small Image Cards */
.about-cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-item {
  width: 270px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #c8e6c9;
  text-align: center;
  transition: 0.3s;
}

.card-item:hover {
  transform: translateY(-8px);
  border-color: #2e7d32;
}

.card-item img {
  width: 70px;
  margin-bottom: 15px;
}

.card-item h3 {
  color: #1b5e20;
  margin-bottom: 10px;
}

.card-item p {
  font-size: 15px;
}
