/* === LOGIN PAGE === */

.login-container {
  background: linear-gradient(135deg, #d5f5e3, #baf3d0);
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.login-card {
  background: #ffffff;
  padding: 50px 45px;
  border-radius: 22px;
  width: 430px;
  box-shadow: 0 12px 35px rgba(0, 128, 0, 0.18);
  text-align: center;
  transition: 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 40px rgba(0, 128, 0, 0.28);
}

.login-card h2 {
  color: #166534;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

/* ============================
      MESSAGE INSIDE FORM
===============================*/

.form-error,
.form-success {
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}

.form-error {
  background: #d32f2f;
  color: white;
}

.form-success {
  background: #2e7d32;
  color: white;
}

/* ============================
      FORM FIELD STYLING
===============================*/



.form-group {
  text-align: left;
  margin-bottom: 14px;   /* reduced spacing */
}

.login-card label {
  font-size: 15px;
  font-weight: 600;
  color: #166534;
  margin-bottom: -6px;    /* reduced label gap */
  display: block;
}
.login-card input {
  width: 100%;
  padding: 14px 45px 14px 14px;
  border-radius: 10px;
  border: 1px solid #9ed8b5;
  background: #f7fdf9;
  font-size: 15px;
  outline: none;
  transition: 0.25s ease;
}

.login-card input:focus {
  border-color: #166534;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgba(22, 101, 52, 0.15);
}

/* Password eye icon */
.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #166534;
}

/* Forgot text */
.forgot-text {
  text-align: right;
 margin-top: -20px;     /* was -12px */
  margin-bottom: 4px;   /* was 12px */
  
}

.forgot-link {
  color: #2e7d32;
  font-size: 14px;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* Button */
.login-card button {
  padding: 14px;
  width: 100%;
  background: #166534;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-card button:hover {
  background: #0e4a26;
}

/* Register text */
.register-text {
  margin-top: 18px;
  color: #444;
}

.register-link {
  color: #166534;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}




/* Hide default password reveal icon (Edge/IE) */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Hide default icon for Chrome/Safari if it appears */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}
