.cart-wrapper {
  padding: 40px 20px;
  background: #f6fffa;
  min-height: 100vh;
}

.cart-title {
  text-align: center;
  font-size: 2.4rem;
  color: #1b5e20;
  margin-bottom: 30px;
  font-weight: 700;
}

.cart-box {
  max-width: 950px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-card {
  display: flex;
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  align-items: center;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
}

.cart-check {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  accent-color: #2e7d32;
}

.cart-img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

.cart-info {
  flex: 1;
  margin-left: 15px;
}

.cart-info h3 {
  margin: 0;
  color: #1b5e20;
  font-size: 1.2rem;
}

.price {
  color: #2e7d32;
  font-weight: bold;
  margin: 5px 0;
}

.qty-box {
  display: flex;
  gap: 8px;
  margin: 10px 0;
}

.qty-box button {
  width: 28px;
  height: 28px;
  background: white;
  border: 2px solid #2e7d32;
  color: #2e7d32;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.qty-box button:hover {
  background: #2e7d32;
  color: white;
}

.remove-btn {
  padding: 6px 12px;
  border-radius: 8px;
  border: 2px solid #d32f2f;
  color: #d32f2f;
  background: none;
  font-weight: 600;
  cursor: pointer;
}

.remove-btn:hover {
  background: #d32f2f;
  color: white;
}

.cart-footer {
  max-width: 950px;
  margin: 30px auto 0;
  text-align: right;
}

.pay-btn {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
}


.big-checkbox {
  /* width: 18px;
  height: 18px; */
  transform: scale(1.6);     /* 🔥 Increase size */
  margin-right: 15px;
  accent-color: #2e7d32;     /* Optional: green color */
  cursor: pointer;
}

